// normalize

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 10px;
  padding: 0;
  margin: 0;
}


// color palette 

$old-rose: #BB303D;
$midnight-blue: #1C4C6B;
$rosy-brown: #C2A285;
$dark-olive-oil: #836547;
$dark-gray-slate: #141516;
$white: #fff;